<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <h1>All data</h1>
    <div class="main">
        <% for(let data of allistings) { %> 
        <div class="item">
            <h1><%= data.title %></h1>
            <img src="<%= data.image %>" alt="img"/>
            <p><%= data.description %></p>
            <b><%= data.price %></b><br>
            <ul>
                <li>Price : <%= data.price %></li>
                <li>Location : <%= data.location %></li>
                <li>Country : <%= data.country %></li>
                </ul>
        </div>
        <% } %>
    </div>
</body>
</html>