<%layout("/layouts/boilerplate")%>
<body>
  <div class="row">
  <div class="col-8 offset-2">
    <h3><%=listing.title%></h3>
    <div class="card col-8 listing-card">
      <img src="<%= listing.image %>" alt="photo" class="card-img-top show-img" />
    </div>
    <div class="card col-8 listing-card">
    <ul>
      <li><%=listing.description%></li>
      <li>&#8377;<%= listing.price.toLocaleString("en-IN")%></li>
      <li><%=listing.location%></li>
      <li><%=listing.country%></li>
      <br/><br/>
      <div class="btns">
        <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark" style="margin-right: 1rem;" >Edit</a>
        <form method="post" action="/listings/<%= listing._id%>?_method=DELETE" >
            <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </ul>
    </div>
    </div>
    <div class="card col-8 offset-2 listing-card">
      <hr/>
      <h4>Leave a Review</h4>
      <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
        <div class="mt-2 mb-2">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" required/>
        </div>
        <div class="mt-2 mb-2">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">Please submit some comments for review</div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
      </form>
      <hr/>
      <% if(listing.reviews.length) {%>
        <h4>All Reviews</h4>
      <% } else { %>
        <h4>No Review</h4>
      <% } %>
    </div>
    <div class="row col-8 offset-2" style="width: 80%;">
      <%for(lst of listing.reviews ) {%>
        <div class="card col-4 mb-3 ms-3">
           <div class="card-body">
                <p class="card-text"><%= lst.comment %></p>
                <p class="card-text"><%= lst.rating %>stars</p>
              <form  method="POST" action="/review/<%= listing._id %>/<%= lst._id %>?_method=DELETE">
                <button class="btn btn-danger btn-sm mb-3">Delete</button>
              </form>
           </div>
        </div>

      <% } %>
    </div>
    </div>
</body>
